# Python cache
__pycache__/
*.pyc
*.pyo

# Log files and reports
logs/

# Environment variables
.env

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl

# VS Code
.vscode/